* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0b1c2d;
    color: #fff;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: 20px 60px;
}

.logo {
    font-size: 24px;
    color: #4da3ff;
}

.header nav a {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    flex-wrap: wrap;
}

.hero-text {
    max-width: 500px;
}

.hero-text h2 {
    font-size: 42px;
    margin-bottom: 20px;
}

.hero-text p {
font-size: 16px;
margin-bottom: 30px;
line-height: 1.6;
}

.buttons {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.primary {
    background: #4da3ff;
    color: #000;
}

.secondary {
    background: #fff;
    color: #000;
}

/* IMAGES */
.hero-images {
    display: flex;
    gap: 20px;
}

.hero-images img {
    width: 200px;
}

/* RESPIONSIVE (PHONE  VIEW) */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-images {
        margin-top: 30px;
    }

    .hero-images img {
        width: 150px;
    }
}